/* Please ❤ this if you like it! */


@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url('https://fonts.font.im/css?family=Yantramanav:500');


body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	overflow-x: hidden;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.canvas {
    position:absolute;
    /* top:0;
    left:0 */
}

p{
	font-family: 'Yantramanav', sans-serif;
	font-weight: bold;
}

li{
	font-family: 'Yantramanav', sans-serif;
}

a {
	cursor: pointer;
}

a:hover {
	text-decoration: none;
	color: rgb(11, 138, 17)
}

/**Button
===================================================*/
.bubbly-button {
	font-family: 'Yantramanav', sans-serif;
	display: inline-block;
	font-size: 1em;
	-webkit-appearance: none;
	appearance: none;
	background-color: #ff0081;
	color: #fff;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	position: relative;
	transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  }
  .bubbly-button:focus {
	outline: 0;
  }
  .bubbly-button:before, .bubbly-button:after {
	position: absolute;
	content: '';
	display: block;
	width: 140%;
	height: 100%;
	left: -20%;
	z-index: -1000;
	transition: all ease-in-out 0.5s;
	background-repeat: no-repeat;
  }
  .bubbly-button:before {
	display: none;
	top: -75%;
	background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
	background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  .bubbly-button:after {
	display: none;
	bottom: -75%;
	background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
	background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  .bubbly-button:active {
	transform: scale(0.9);
	background-color: #e60074;
	box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  .bubbly-button.animate:before {
	display: block;
	animation: topBubbles ease-in-out 0.75s forwards;
  }
  .bubbly-button.animate:after {
	display: block;
	animation: bottomBubbles ease-in-out 0.75s forwards;
  }
  
  @keyframes topBubbles {
	0% {
	  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
	}
	50% {
	  background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
	}
	100% {
	  background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
	  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
	}
  }
  @keyframes bottomBubbles {
	0% {
	  background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
	}
	50% {
	  background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
	}
	100% {
	  background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
	  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
	}
  }

/* #Cursor
================================================== */

.cursor,
.cursor2,
.cursor3 {
	position: fixed;
	border-radius: 50%;
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%;
	mix-blend-mode: difference;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

@media screen and (max-width: 1200px) {

	.cursor,
	.cursor2,
	.cursor3 {
		display: none
	}
}

/* #Primary style
================================================== */

.section {
	position: relative;
	width: 100%;
	display: block;
}

.over-hide {
	overflow: hidden;
}

.full-height {
	height: 100vh;
}

/* #Navigation
================================================== */

.cd-header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}

.header-wrapper {
	position: relative;
	width: calc(100% - 100px);
	margin-left: 50px;
}

.logo-wrap {
	position: absolute;
	display: block;
	right: 0;
	top: 40px;
	cursor: pointer;
}

.logo-wrap a {
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 20px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	transition: all 0.3s ease-out;
}

.logo-wrap a span {
	color: #ffe600;
}

.logo-wrap a:hover {
	opacity: 0.9;
}

.nav-but-wrap {
	position: relative;
	display: inline-block;
	float: left;
	padding-left: 15px;
	padding-top: 15px;
	margin-top: 26px;
	transition: all 0.3s ease-out;
}

.menu-icon {
	height: 30px;
	width: 30px;
	position: relative;
	z-index: 2;
	cursor: pointer;
	display: block;
}

.menu-icon__line {
	height: 2px;
	width: 30px;
	display: block;
	background-color: #fff;
	margin-bottom: 7px;
	cursor: pointer;
	-webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
	transition: background-color .5s ease, -webkit-transform .2s ease;
	transition: transform .2s ease, background-color .5s ease;
	transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}

.menu-icon__line-left {
	width: 16.5px;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.menu-icon__line-right {
	width: 16.5px;
	float: right;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	transition: all 200ms linear;
}

.menu-icon:hover .menu-icon__line-left,
.menu-icon:hover .menu-icon__line-right {
	width: 30px;
}

.nav {
	position: fixed;
	z-index: 98;
}

.nav:before,
.nav:after {
	content: "";
	position: fixed;
	top: 20px;
	left: 50px;
	width: 0;
	height: 0;
	background-color: rgba(20, 21, 26, 0.6);
	border-bottom-right-radius: 200%;
	z-index: -1;
	transition: border-radius linear 0.8s, width cubic-bezier(0.77, 0, 0.175, 1) 0.6s, height cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
}

.nav:after {
	background-color: rgba(9, 9, 12, 1);
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/141552/header-home-fallback.jpg');
	opacity: 0.6;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 300%;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.3);
}

.nav:before {
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}

.nav__content {
	position: fixed;
	visibility: hidden;
	top: 70px;
	left: 50px;
	width: 280px;
	text-align: left;
}

.nav__list {
	position: relative;
	padding: 0;
	margin: 0;
	z-index: 2;
	font-size: 20px;
}

.nav__list-item {
	position: relative;
	display: block;
	-webkit-transition-delay: 0.8s;
	transition-delay: 0.8s;
	opacity: 0;
	text-align: left;
	color: rgb(255, 255, 255);
	overflow: hidden;
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	line-height: 1.2;
	letter-spacing: 2px;
	-webkit-transform: translate(30px, 0%);
	transform: translate(30px, 0%);
	-webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
	transition: opacity .2s ease, -webkit-transform .2s ease;
	transition: opacity .2s ease, transform .2s ease;
	transition: opacity .2s ease, transform .2s ease, -webkit-transform .2s ease;
	margin-top: 7px;
	margin-bottom: 7px;
}

.nav__list-item a {
	position: relative;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
	overflow: hidden;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 600;
	z-index: 2;
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.nav__list-item a:after {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 5px;
	height: 0;
	opacity: 0;
	background-color: #28d4d4;
	z-index: 1;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.nav__list-item a:hover:after {
	height: 100%;
	opacity: 1;
	top: 0;
}

.nav__list-item a:hover {
	color: rgb(129, 255, 238);
}

.nav__list-item.active-nav a {
	color: rgba(255, 255, 255, 1);
}

.nav__list-item.active-nav a:after {
	height: 100%;
	opacity: 1;
	top: 0;
}

body.nav-active .nav__content {
	visibility: visible;
}

body.nav-active .menu-icon__line {
	background-color: #fff;
	-webkit-transform: translate(0px, 0px) rotate(-45deg);
	transform: translate(0px, 0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
	width: 15px;
	-webkit-transform: translate(2px, 4px) rotate(45deg);
	transform: translate(2px, 4px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
	width: 15px;
	float: right;
	-webkit-transform: translate(-3px, -3.5px) rotate(45deg);
	transform: translate(-3px, -3.5px) rotate(45deg);
}

body.nav-active .menu-icon:hover .menu-icon__line-left,
body.nav-active .menu-icon:hover .menu-icon__line-right {
	width: 15px;
}

body.nav-active .nav {
	visibility: visible;
}

body.nav-active .nav:before,
body.nav-active .nav:after {
	width: 250px;
	height: 350px;
	border-radius: 15px;
}

body.nav-active .nav:after {
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
}

body.nav-active .nav:before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

body.nav-active .nav__list-item {
	opacity: 1;
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
	-webkit-transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
	transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
	transition: opacity .3s ease, transform .3s ease, color .3s ease;
	transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}

body.nav-active .nav__list-item:nth-child(0) {
	-webkit-transition-delay: 0.7s;
	transition-delay: 0.7s;
}

body.nav-active .nav__list-item:nth-child(1) {
	-webkit-transition-delay: 0.8s;
	transition-delay: 0.8s;
}

body.nav-active .nav__list-item:nth-child(2) {
	-webkit-transition-delay: 0.9s;
	transition-delay: 0.9s;
}

body.nav-active .nav__list-item:nth-child(3) {
	-webkit-transition-delay: 1s;
	transition-delay: 1s;
}

body.nav-active .nav__list-item:nth-child(4) {
	-webkit-transition-delay: 1.1s;
	transition-delay: 1.1s;
}

body.nav-active .nav__list-item:nth-child(5) {
	-webkit-transition-delay: 1.2s;
	transition-delay: 1.2s;
}

body.nav-active .nav__list-item:nth-child(6) {
	-webkit-transition-delay: 1.3s;
	transition-delay: 1.3s;
}

body.nav-active .nav__list-item:nth-child(7) {
	-webkit-transition-delay: 1.4s;
	transition-delay: 1.4s;
}

body.nav-active .nav__list-item:nth-child(8) {
	-webkit-transition-delay: 1.5s;
	transition-delay: 1.5s;
}

body.nav-active .nav__list-item:nth-child(9) {
	-webkit-transition-delay: 1.6s;
	transition-delay: 1.6s;
}

body.nav-active .nav__list-item:nth-child(10) {
	-webkit-transition-delay: 1.7s;
	transition-delay: 1.7s;
}

.switch-wrap {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 10;
	transform: translateY(-50%);
	width: 100%;
	-webkit-transition: all 500ms linear;
	transition: all 500ms linear;
	margin: 0 auto;
	text-align: center;
}

.switch-wrap h1 {
	font-weight: 900;
	font-size: 46px;
	line-height: 1;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

@media screen and (max-width: 580px) {
	.switch-wrap h1 {
		font-size: 32px;
	}
}

.switch-wrap p {
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1;
	color: #8167a9;
	text-align: center;
	margin-top: 15px;
}

.switch-wrap p span {
	position: relative;
}

.switch-wrap p span:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	background-color: #fff;
	left: 0;
	bottom: -4px;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.switch-wrap p span:nth-child(2):before {
	opacity: 0;
}

#switch,
#circle {
	cursor: pointer;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

#switch {
	width: 60px;
	height: 8px;
	margin: 0 auto;
	text-align: center;
	border: 2px solid #000;
	border-radius: 27px;
	background: #8167a9;
	position: relative;
	display: inline-block;
}

#circle {
	position: absolute;
	top: -11px;
	left: -13px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
	background: #fff;
}

.switched {
	border-color: #8167a9 !important;
	background: #000 !important;
}

.switched #circle {
	left: 43px;
	background: #000;
}

/* #Light
================================================== */

body.light {
	background-color: #fff;
}
body .logo-wrap{
	animation-iteration-count: infinite;
}

body.light .cursor,
body.light .cursor2,
body.light .cursor3 {
	mix-blend-mode: normal;
}

body.light .cursor2 {
	border: 2px solid #1f2029;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

body.light .cursor2.hover {
	background: rgba(0, 0, 0, 0.06);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
	border-color: transparent;
}

body.light .logo-wrap a {
	color: #1f2029;
}

body.light .menu-icon__line {
	background-color: #1f2029;
}

body.light .nav:before {
	background-color: rgba(235, 235, 235, 0.4);
}

body.light .nav:after {
	background-color: rgb(246, 239, 249);
	box-shadow: 6px 6px 22px rgba(42, 31, 63, 0.1);
}

body.light .nav__list-item a {
	color: rgba(0, 0, 0, 0.6);
}

body.light .nav__list-item a:hover {
	color: #1f2029;
}

body.light .nav__list-item.active-nav a {
	color: #1f2029;
}

body.light .switch-wrap h1 {
	color: #000;
}

body.light .switch-wrap p span:nth-child(2):before {
	opacity: 1;
	background-color: #000;
}

body.light .switch-wrap p span:nth-child(1):before {
	opacity: 0;
}

/**popup***/
.popup {
	width: 100%;
	height: 100vh;
	display: none;

	position: fixed;
	top: 0;
	right: 0;
}

#popup-article:target {
	display: flex;
}

.popup:before {
	content: "";
	box-sizing: border-box;
	width: 100%;
	background-color: #fff;

	position: fixed;
	left: 0;
	top: 50%;
	will-change: height, top;
	-webkit-animation: open-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) .65s both;
	animation: open-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) .65s both;
}

.popup:after {
	content: "";
	width: 0;
	height: 2px;
	background-color: #f0f0f0;

	will-change: width, opacity;
	-webkit-animation: line-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
	animation: line-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) both;

	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -1px;
}

@-webkit-keyframes line-animation {

	0% {
		width: 0;
		opacity: 1;
	}

	99% {
		width: 100%;
		opacity: 1;
	}

	100% {
		width: 100%;
		opacity: 0;
	}
}

@keyframes line-animation {

	0% {
		width: 0;
		opacity: 1;
	}

	99% {
		width: 100%;
		opacity: 1;
	}

	100% {
		width: 100%;
		opacity: 0;
	}
}

@-webkit-keyframes open-animation {

	0% {
		height: 0;
		top: 50%;
	}

	100% {
		height: 100vh;
		top: 0;
	}
}

@keyframes open-animation {

	0% {
		height: 0;
		top: 50%;
	}

	100% {
		height: 100vh;
		top: 0;
	}
}

.popup__block {
	height: calc(100vh - 40px);
	padding: 5% 15%;
	box-sizing: border-box;
	position: relative;

	font-family: 'Quicksand', sans-serif;
	font-size: 1.6rem;
	font-weight: bold;
	color: #222;

	margin: auto;
	overflow: auto;
	-webkit-animation: fade .5s ease-out 1.3s both;
	animation: fade .5s ease-out 1.3s both;


}

@-webkit-keyframes fade {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.popup__title {
	font-size: 2.5rem;
	margin: 0 0 1em;
}

.popup__close {
	width: 3.2rem;
	height: 3.2rem;
	text-indent: -9999px;

	position: fixed;
	top: 20px;
	right: 20px;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}


/*
* demo page
*/

@media screen and (min-width: 768px) {

	html {
		font-size: 62.5%;
	}
}

@media screen and (max-width: 767px) {

	html {
		font-size: 50%;
	}
}


p {
	margin: 0;
	line-height: 1.5;
}

p:not(:last-child) {
	margin-bottom: 1.5rem;
}

img {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}

.open-popup {
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 2rem;
	border: 1px solid;
}

.page {
	min-height: 100vh;
	display: flex;
}

.page__container {
	max-width: 1200px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
}



article {
	width: 700px;
	font-family: "Roboto", sans-serif;
	margin-top: 0%;
}

b {
	font-weight: bold;
}

.h1-border {
	margin: 0 0 50px;
	width: 100px;
	height: 10px;
	background: #333;
	display: block;
}

.h2-border {
	width: 100px;
	height: 5px;
	background: #333;
	display: block;
}

.tagline {
	margin: 0 0 25px;
	display: block;
	font-size: 2.2rem;
	font-weight: lighter;
	letter-spacing: 0.1rem;
}

.person {
	margin: 0 0 0 5px;
	color: #999;
}

h1 {
	margin: 0 0 100px;
	font-size: 3.3rem;
	font-weight: 200;
	letter-spacing: 0.2rem;
	text-indent: -2px;
}

h2 {
	margin: 60px 0 25px;
	font-size: 1.1rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}

h3 {
	margin: 10px 0 5px;
	font-size: 1.1rem;
	font-weight: bold;
}

h4 {
	margin: 0 0 10px;
	color: #999;
	font-size: 1.1rem;
}

a {
	color: #ff0081;
	font-size: 1.6rem;
	text-decoration: none;
	font-family: 'Yantramanav', sans-serif;
}

.btn {
	margin: 30px 0 0;
	padding: 10px 14px;
	background: #333;
	border: 2px solid #333;
	display: inline-block;
	color: #fff;
	font-size: 1.1rem;
	font-weight: bold;
	letter-spacing: 0.3rem;
	text-indent: 0.3rem;
	text-transform: uppercase;
	transition: 0.2s;
}

.btn:hover {
	background: #fff;
	color: #333;
}

.tm {
	margin: 25px 25px 10px 0;
	width: 105px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	transition: 0.6s;
}

.tm img {
	width: 60px;
	height: 60px;
	border-radius: 100%;
}

.hover {
	opacity: 0.2;
}



::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 10px;
	/*高宽分别对应横竖滚动条的尺寸*/
	height: 1px;
}

::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 10px;
	background-color: rgb(0, 0, 0);
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	-webkit-box-shadow: inset 0 0 5px rgb(255, 255, 255);
	border-radius: 10px;
	background: #EDEDED;
}